<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.csaapp">

    <!-- NFC permission -->
    <uses-permission android:name="android.permission.NFC" />
    <!-- Internet Permission (REQUIRED for Supabase) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Make NFC optional (device without NFC can still install) -->
    <uses-feature android:name="android.hardware.nfc" android:required="false" />

    <application
        android:name="${applicationName}"
        android:label="csaapp"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/LaunchTheme"
            android:launchMode="singleTask"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode">

            <!-- Launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Accept ANY NFC Tag -->
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <!-- Point to the tag technology filter -->
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />

        </activity>

        <!-- Flutter embedding -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>

    <!-- Allow other apps to send NFC text/plain to your app -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>

</manifest>
